.role-slider {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.active {
    opacity: 1;
    height: 350px;
    width: 400px;
    transition-duration: 1s;
    transform: scale(1);
}

.role-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

button {
    margin: 20px;
}

.role-name {
    color: white;
}